.advantage {
  background-color: $color-bg-second;

  &:first-child {
    padding-top: 46px;
    background-image: url("../img/backgrounds/bg-advatages-top-mobile.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      padding-top: 0;
      background-image: none;
    }
  }

  &--secondary {
    padding-bottom: 0;
    color: $color-text-second;
    background-color: $color-bg;
  }

  @media (min-width: $tablet-width) {
    &--secondary {
      grid-column: 3 span;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    &--opposite {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.advantage__wrap {
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 32px 44px;
  }
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.advantage__number {
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
  }
}

.advantage__desc {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.advantage__image {
  display: block;
  object-fit: cover;
  width: 100%;

  &--order {
    @media (min-width: $tablet-width) {
      order: -1;
    }
  }
}

.advantage__number-count::before {
  counter-increment: number;
  content: counter(number);
}

