.basic-section {
  padding: 32px 20px;
  display: grid;
  gap: 32px;

  &--video {
    padding: 17px 20px 0;
    position: relative;

    @media (max-width: calc($tablet-width - 1px)) {
      &::after {
        position: absolute;
        top: 0;
        content: "";
        width: calc(100% + 40px);
        height: 1px;
        margin-left: -20px;
        background-color: #e5e5e5;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding: 47px 0 55px;
    max-width: 520px;
    gap: 45px;
    justify-items: center;

    &--opposite {
      max-width: 458px;
      padding-top: 61px;
      padding-bottom: 58px;

      .basic-section__title {
        font-size: 30px;
      }
    }

    &--video {
      max-width: none;
      padding: 57px 60px 40px;

      .basic-section__title {
        max-width: 445px;
        font-size: 30px;
      }

      .basic-section__desc {
        max-width: 445px;
      }
    }
  }
}

.basic-section__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.basic-section__desc {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.basic-section__image {
  display: block;
  object-fit: cover;
  min-height: 500px;
}

