.basic-section {
  padding-top: 32px;
  padding-bottom: 32px;
  display: grid;
  gap: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 55px;
    max-width: 520px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 59px;
    padding-bottom: 44px;
    max-width: 520px;
  }
}

.basic-section__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.basic-section__desc {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

