.basic-section {
  padding-top: 32px;
  padding-bottom: 32px;
  display: grid;
  gap: 32px;
}

.basic-section__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.basic-section__desc {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

