.form {
  padding: 0 20px;
}

.form__section {
  position: relative;
  margin: 0;
  padding: 24px 0 39px;
  border: none;

  &::after {
    position: absolute;
    top: 0;
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    margin-left: -20px;
    background-color: #e5e5e5;
  }
}

.form__legend {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.form__field-wrap {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.form__choice-wrap {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.form__label {
  display: block;
  margin-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  &--radio {
    position: relative;
    margin-left: 0;
    padding: 10px 0 10px 62px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 46px;
      height: 46px;
      background-color: #f2f2f2;
      border: 15px solid #f2f2f2;
      border-radius: 50%;
    }

    &:hover::before {
      background-color: #e5e5e5;
      border: 15px solid #e5e5e5;
    }

    &:active::before {
      background: rgba(51, 51, 51, 0.3);
      border: 15px solid #d5d5d5;
    }
  }

  &--checkbox {
    position: relative;
    margin-left: 0;
    padding: 10px 0 10px 62px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 46px;
      height: 46px;
      background-color: #f2f2f2;
      border-radius: 4px;
    }

    &:hover::before {
      background-color: #e5e5e5;
    }

    &:active::before {
      background-color: #d5d5d5;
    }
  }
}

.form__field {
  display: block;
  width: 100%;
  padding: 16px 58px 16px 16px;
  margin: 0;
  border: none;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  outline: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus,
  &:focus-visible {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 4px #e5e5e5;

    &::placeholder {
      color: transparent;
    }
  }

  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
  }

  &--email,
  &--phone {
    position: relative;

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.form__field-icon-wrap {
  position: relative;

  .form__field-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-position: center;
    background-repeat: no-repeat;

    &--email {
      background-image: url("../../img/email.svg");
    }

    &--phone {
      background-image: url("../../img/phone.svg");
    }
  }
}

.form__radio,
.form__checkbox {
  display: none;
}

.form__radio:checked + .form__label--radio::before {
  background-color: #000000;
}

.form__radio:checked + .form__label--radio:active::before {
  background-color: rgba(51, 51, 51, 0.3);
}

.form__checkbox:checked + .form__label--checkbox::before {
  background-image: url("../../img/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__checkbox:checked + .form__label--checkbox:active::before {
  opacity: 0.3;
}

.form__textbox {
  min-height: 150px;
  width: 100%;
  margin: 0;
  padding: 16px;
  border: none;
  border-radius: 0;
  background-color: #f2f2f2;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  resize: none;
  outline: none;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus,
  &:focus-visible {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 4px #e5e5e5;

    &::placeholder {
      color: transparent;
    }
  }
}

.form__button-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form__send-mark {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
