.menu {
  &--closed {
    min-height: 56px;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      min-height: inherit;
    }
  }
}

.menu__button {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  outline: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.menu--opened .menu__button {
  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: "";
    height: 28px;
    width: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.menu--closed .menu__button {
  border-top: 4px solid $color-bg;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $color-bg;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $color-bg;
  }
}

.menu--nojs .menu__button {
  display: none;
}

.menu--closed .menu__list {
  display: none;
}

.menu--opened .menu__list {
  display: block;
}

.menu--nojs .menu__toggle {
  display: none;
}

.menu--nojs .menu__list {
  display: block;
}

.menu .menu__list {
  @include reset-list;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    font-size: 14px;
    line-height: 21px;
    background-color: #ffffff;
  }
}

.menu__item {
  background-color: $color-bg;
  box-shadow: 0 -1px 0 0 rgba(1, 1, 1, 0.2) inset, inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:last-child {
    box-shadow: 0 -14px 15px -15px rgba(0, 0, 0, 0.4) inset;
  }

  &:hover {
    background-color: $color-bg-hover;
  }

  &:active {
    background-color: $color-bg-active;

    .menu__link {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    width: 20%;
    background-color: #ffffff;
    box-shadow: none;

    &:last-child {
      box-shadow: none;
    }

    &:hover,
    &:active {
      background-color: transparent;
    }

    &:nth-child(3) {
      margin-left: auto;
    }
  }

  @media (min-width: $dekstop-width) {
    width: 240px;
  }
}

.menu__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  color: $color-text-second;
  text-decoration: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;

    &:hover {
      color: $color-bg;
    }

    &:active {
      opacity: 0.3;
    }

    &--current {
      color: #766357;
    }
  }
}

.menu__logo {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;

  &--opened {
    display: block;
  }

  &--closed {
    display: none;
  }
}
