.posts {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.posts__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $dekstop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
