.welcome {
  position: relative;

  &--index {
    padding: 90px 19px 85px;
    background-image: url("../../img/backgrounds/bg-welcome-mobile.jpg");
    background-color: $color-bg;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      content: "";
      width: auto;
      height: 57px;
      background-image: url("../../img/backgrounds/bg-welcome-bottom-dekstop.svg");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (min-width: $tablet-width) {
      background-image: url("../../img/backgrounds/bg-welcome-dekstop.jpg");
    }
  }
}

.welcome__image {
  display: block;
  margin: 0 auto;
}
