$mobile-width: 320px;
$tablet-width: 768px;
$dekstop-width: 1200px;

$font: "PT Sans", "Arial", sans-serif;

$color-text: #333333;
$color-text-second: #ffffff;
$color-text-title: #000000;

$color-bg: #81b3d2;
$color-bg-hover: #669ec0;
$color-bg-active: #5496bd;
$color-bg-second: #eeeeee;
$color-bg-form: #f2f2f2;
